body {
    background: transparent url(/images/app_background.jpg) repeat-y  !important;
    padding-top: 15px;
}

md-content#searchWrapper {
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.title {
    text-align: center;
    color: #2196f3;
}

#searchBox {
    background-color: rgba(114, 250, 255, 0.85);
    /*background-color: #8ae7e9;*/
}

#resultsContainer {
    background-color: transparent;
    color: #2196f3;
    font-weight: bold;
    text-align: center;
}

#filtersContainer {
    background-color: rgba(255,255,255,0.85);
    margin-top: 8px;
    border-radius: 2px;
    margin-right: 8px;
}

.marginFix {
    margin-bottom: 8px;
    /*8px because this is either 8 for mobile or 16 for desktop in material design, so this is a good ratio*/
}

.card-title {
    padding-bottom: 0 !important;
    color: #607D8B;
}

div.cardBorderParent > div {
    border-right: 2px solid #2196f3;
}

/*div.cardBorderParent > div:last-child {*/
    /*border-right: none;*/
/*}*/

md-card {
    background-color: rgba(255,255,255,0.85) !important;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.heightFix {
    margin-top: 18px;
}

.searchInput {
    border-color: #2196f3
}

.flight-min-width {
    min-width: 2em
}

.centerText {
    text-align: center;
}

.minorText {
    color: #FF5722;
    font-weight: normal;
    font-size: 11px;
}

.sliderPadding {
    padding: 0 16px;
}

.filterTitle {
    color: #FF5722;
    font-weight: bold;
    margin-bottom: 4px;
    display: inline-block;
}

.filterInputContainer {
    border-top: 2px solid #2196f3;
    color: #607d8b;
    font-size: 14px;
}

.filterButton {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 99;
}