<div style="margin-top: 15px; background: transparent !important;" layout="row" layout-align="space-around start"
     ng-cloak>

    <md-content id="resultsContainer" class="md-image-no-fill" flex="stretch">

        <md-card layout="column" layout-wrap ng-repeat="result in controller.results | rangeFilter: range | destination: controller.queryParams.to">
            <md-card-title class="md-padding card-title">
                {{result.type}} Flight
            </md-card-title>
            <md-card-content layout="row" layout-sm="column" flex-wrap layout-align="space-around center">
                <div layout="column" flex="75" layout-align="space-between">
                    <div class="marginFix cardBorderParent" layout="row" layout-align="space-around center">
                        <div layout="row" flex="auto" layout-align="space-around center">
                            <div class="flight-min-width">{{controller.flights[result.pairs[0][0].flightId].airline}}
                            </div>
                            <div>
                                <div>{{controller.flights[result.pairs[0][0].flightId].depTime}}</div>
                                <div class="minorText">
                                    {{controller.flights[result.pairs[0][0].flightId].departureIATA}}
                                </div>
                            </div>
                        </div>
                        <div layout="column" flex="auto" layout-align="space-around center">
                            <div ng-if="controller.flights[result.pairs[0][0].flightId].connection">
                                {{controller.flights[result.pairs[0][0].flightId].connection}} Connections
                            </div>
                            <div ng-if="!controller.flights[result.pairs[0][0].flightId].connection">Direct Flight</div>
                            <div class="minorText"> Flight Duration
                                {{controller.flights[result.pairs[0][0].flightId].flightDuration}}
                            </div>
                        </div>
                        <div layout="column" flex="auto" layout-align="space-around center">
                            <div>{{controller.flights[result.pairs[0][0].flightId].arrTime}}</div>
                            <div class="minorText">{{controller.flights[result.pairs[0][0].flightId].arrivalIATA}}</div>
                        </div>
                    </div>
                    <div class="cardBorderParent" layout="row" layout-align="space-around center">
                        <div layout="row" flex="auto" layout-align="space-around center">
                            <div class="flight-min-width">{{controller.flights[result.pairs[0][1].flightId].airline}}
                            </div>
                            <div>
                                <div>{{controller.flights[result.pairs[0][1].flightId].depTime}}</div>
                                <div class="minorText">
                                    {{controller.flights[result.pairs[0][1].flightId].departureIATA}}
                                </div>
                            </div>
                        </div>
                        <div layout="column" flex="auto" layout-align="space-around center">
                            <div ng-if="controller.flights[result.pairs[0][1].flightId].connection">
                                {{controller.flights[result.pairs[0][1].flightId].connection}} Connections
                            </div>
                            <div ng-if="!controller.flights[result.pairs[0][1].flightId].connection">Direct Flight</div>
                            <div class="minorText"> Flight Duration
                                {{controller.flights[result.pairs[0][1].flightId].flightDuration}}
                            </div>
                        </div>
                        <div layout="column" flex="auto" layout-align="space-around center">
                            <div>{{controller.flights[result.pairs[0][1].flightId].arrTime}}</div>
                            <div class="minorText">{{controller.flights[result.pairs[0][1].flightId].arrivalIATA}}</div>
                        </div>
                    </div>
                </div>
                <div class="centerText" flex="20" layout="column" layout-sm="row">
                    <div>${{result.normalPrice}}</div>
                    <div class="minorText">Per Ticket</div>
                    <div>Total: ${{result.normalPrice * controller.queryParams.tickets}}</div>
                </div>
            </md-card-content>
        </md-card>

    </md-content>
    <md-sidenav md-is-locked-open="$mdMedia('gt-md')" id="filtersContainer" class="md-image-no-fill md-padding">
        <md-card-title class="filterTitle">
            Further Filtering
        </md-card-title>
        <md-card-content>
            <md-input-container style="padding-top: 16px;" class="filterInputContainer">
                <div class="sliderPadding centerText">Price per Ticket</div>
                <range-slider class="sliderPadding" lower-value="range.lower" upper-value="range.upper" min-gap="50" step="10" min="10" max="1000" ></range-slider>
                <div class="sliderPadding centerText">{{range.lower|currency}} - {{range.upper|currency}}</div>
            </md-input-container>
        </md-card-content>
    </md-sidenav>

</div>

<md-button class="filterButton md-mini md-raised md-accent">
    Filter {{controller.results.length}} Results
</md-button>