<md-content id="searchWrapper" layout="row" layout-margin layout-align="space-around center">

    <md-card id="searchBox" class="md-padding" layout-wrap layout="row" layout-align="space-between center">
        <h1 class="title" flex="100">{{controller.title}}</h1>
            <md-input-container flex="30" flex-sm="100">
                <label for="from">From</label>
                <input type="text" id="from" class="searchInput" ng-model="controller.searchParams.from">
            </md-input-container>
            <md-input-container flex="30" flex-sm="100">
                <label for="to">To</label>
                <input type="text" id="to" class="searchInput" ng-model="controller.searchParams.to">
            </md-input-container>
        <md-input-container class="heightFix" flex="30" flex-sm="100">
            <md-select placeholder="tickets" class="searchInput" ng-model="controller.searchParams.tickets">
                <md-option>1</md-option>
                <md-option>2</md-option>
                <md-option>3</md-option>
                <md-option>4</md-option>
            </md-select>
        </md-input-container>
        <md-button flex="30" flex-sm="100" class="md-raised md-primary margin-auto" ng-click="controller.goToResults()">
            Go!
        </md-button>
    </md-card>

</md-content>